.header-form{
  border: 2px solid goldenrod;
  padding: 5px;
  text-align: center;
  display: block;
}

.form {
  color: salmon;
  text-align: center;
}
.form-input{
  // width: 200px;
  // margin: 0 auto;
  text-align: center;

}
#map {
      height: 400px;
      width: 100%;
     }
