
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h1> Personal Yelp Favorites </h1>
<%= yield %>

<link rel="stylesheet" href="css/style.css">
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALm5Q4-YtNJuIZh_a76EySJFhsHEL1rC4&callback=InitMap">
   </script>
